<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Tim + Rachel</h2>
	<p>Rachel's picture (on the family prayer card) hung on Tim's parents' refrigerator for a decade and was mostly ignored; we never expected to meet. But we did meet, at
  a tiny Anglican churchplant in Chicago. We slowly went from acquaintances to church friends to real friends, but we never expected to date&mdash;even if Tim spent six years hoping to.
  Much to everyone's surprise (most of all ours) the hope became reality, after much hesitation. And on Leap Day 2020 an even bigger hope came true, with no hesitation:
</p>
<p>"I was wondering&hellip;if you would marry me?"</p>
<p>"Of course!"</p>

  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->
</section>
<!--
<section class="spotlight" style="background: #808080">
  <div class="content">
    <p>Siamo l'esempio perfetto che gli opposti si attraggono: Sabrina, romantica e introspettiva, impulsiva e altamente ansiosa; Vittorio, razionale, calmo e fastidiosamente puntiglioso.
      <br/>
      Ma nonostante tutto, riusciamo a completarci in ogni situazione e a supportarci vicendevolmente.
    </p>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>
-->
