<section class="spotlight" style="background: #808080">
  <div class="image">
    <img src="images/pic1.jpg" alt="" /> </div>
  <div class="content">
    <h2>Tim + Rachel</h2>
	<p>Rachel's picture (on the family prayer card) hung on Tim's parents' refrigerator for a decade and was mostly ignored; we never expected to meet. But we did meet, at
  a tiny Anglican churchplant in Chicago. We slowly went from acquaintances to church friends to real friends, but we never expected to date&mdash;even if Tim spent six years hoping to.
  Much to everyone's surprise (most of all ours) the hope became reality, after much hesitation. And on Leap Day 2020 an even bigger hope came true, with no hesitation:
</p>
<p>"I was wondering&hellip;if you would marry me?"</p>
<p>"Of course!"</p>

  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
  <div class="content" style="max-width: 54em; text-align: center; margin: 0 auto;">
    <p>
    See all of our engagement photos
    (taken by <a href="https://www.hellorosephotography.com/" target="_blank">Hello Rose Photography</a>)
    <a href="https://photos.app.goo.gl/c8LvepjqVnSeWy2n9" target="_blank">here</a>.
    </p>
  </div>
</section>
<section class="spotlight" style="background: #808080">
  <div class="content">
    <blockquote>
      <em>
        For everything there is a season, and a time for every
        matter under heaven: &hellip;a time to embrace, and a time to refrain from
        embracing
      </em>
      (Ecc. 3.1, 5b)
    </blockquote>

    <p>
    When Tim proposed on Leap Day 2020, we both eagerly envisioned celebrating
    our wedding in Chicago&mdash;our home of the past six
    years&mdash;surrounded by our friends and family from near and far.
    </p>

    <p>
    As the pandemic unfolded, we soon realized such a large gathering would not
    be advisable for everyone's health and safety, and that gatherings of any sort
    would likely be prohibited in Illinois.
    Our wedding has now been moved to Sewickley, PA (where Tim grew up),
    where we will be married in the presence of our
    immediate families.
    </p>

    <p>
    We will miss having you all there, but we will have a live
    stream set up so that you can watch Tim's dad marry us and catch Rachel's
    dad preaching the homily! Be on the lookout for invitations to our Chicago
    reception next year.
    </p>

    <p>
    We covet your prayers as we enter into marriage in the midst of this
    season.
    </p>
  </div>
  <div class="image">
    <img src="images/covid.jpg" alt="" />
  </div>
</section>
