<section class="spotlight">
</section>
<section class="spotlight">
  <div class="content">
    <h2>Guestbook</h2>
    <form action="https://formspree.io/tsmacdonald@gmail.com" method="POST">
      <div class="field half first">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field half">
        <label for="email">Email</label>
        <input type="text" name="_replyto" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="6"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" class="special" style="margin-top: 1em"/></li>
      </ul>
    </form>
  </div>
  <div class="image">
    <img src="images/guestbook.jpg" alt="" />
  </div>
</section>
