<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
  </div>

</section>

<section class="spotlight">
</section>

<section class="spotlight" style="background: #808080">
  <div class="content">
    <h2><a href="https://www.myregistry.com/wedding-registry/rachel-beckner-and-timothy-macdonald-chicago-il/2440897/giftlist" target="blank_">Registry</a></h2>
    <p>We're registered <a href="https://www.myregistry.com/wedding-registry/rachel-beckner-and-timothy-macdonald-chicago-il/2440897/giftlist" target="blank_">here</a> with MyRegistry, which combines items from a number of sites. Thank you!</p>
  </div>
  <div class="image">
    <img src="images/seawall-cropped.jpg" alt="" />
  </div>
</section>
