<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; 2020 Tim Macdonald &amp; Rachel Beckner</li>
    <li>Most photography &copy; 2020 <a href="https://www.hellorosephotography.com/" target="_blank">Hello Rose Photography</a></li>
  </ul>
  <ul class="copyright">
  </ul>
</footer>

{% if site.google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40721189-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-40721189-2');
</script>
{% endif %}
<script>
  function setCountdown() {
    console.log("I'm trying!");
    const el = document.getElementById("countdown");
    const weddingDate = 'September 12 2020 00:00:01 GMT-0400';
    const msInDay = 1000 * 60 * 60 * 24;
    var daysLeft = Math.floor((Date.parse(weddingDate) - Date.parse(new Date()))/msInDay) + 1;
    if(daysLeft == 0) {
      el.innerHTML = "Today!"
    }
    else if(daysLeft == 1) {
      el.innerHTML = "Tomorrow!"
    }
    else if(daysLeft > 0) {
      el.innerHTML = daysLeft + " days to go!"
    }
  }
  console.log("Adding listener");
  document.addEventListener("DOMContentLoaded", setCountdown);
</script>
